grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpc-split_1729252379906/work
grpcio-tools @ file:///home/conda/feedstock_root/build_artifacts/grpc-split_1729252379906/work/grpcio_tools
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1729065636207/work
protobuf @ file:///home/conda/feedstock_root/build_artifacts/protobuf_1728668314281/work/bazel-bin/python/dist/protobuf-5.28.2-cp312-abi3-linux_x86_64.whl#sha256=f103c8b99ca0a96e2feeaa5c5589b37c02b05bd901d908f7825153340c69de0a
setuptools==75.1.0
wheel==0.44.0
